.wrapper {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    height: 100%;
}

.wrapper_column {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    justify-content: center;
    row-gap: 10px;
}

.column_img {
    margin-top: 20px
}

.wrapper_header {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper_footer {
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
}